/* .text-grad {
  background: linear-gradient(90deg, #797dfc 0.63%, rgba(155, 158, 245, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
